* {
  margin: 0;
  padding: 0;
}
body{
background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);

}
.main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;

}
.header {
  color: rgb(0, 0, 0);
  font-size: 35px;
  margin-top: -10px;
  text-align: center;
}
input {
  border-radius: 20px;
  padding: 10px 0 10px 10px;
  margin: 2px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 14px 15px -6px inset,
    rgba(0, 0, 0, 0.3) -4px 13px 25px -13px inset;
}
form {
  margin: 10px 20px;
  border: 5px solid red;
  padding: 20px 20px 10px 20px;
  border-radius: 10px;
background-image: linear-gradient(to right, #cfddff, #8473cf);
  align-items: center;
  text-align: center;
  z-index: 1;
}
button {
  padding: 10px 100px;
  margin: 10px 0 0 0;
  /* margin-left: 25%; */
  align-items: center;
  border-radius: 30px;
  background-image: linear-gradient(to right, #43C6AC 0%, #191654  51%, #43C6AC  100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

label {
  font-size: 22px;
}
span {
  padding-left: 25vw;
  color: rgb(255, 47, 0);
}
         
        